.App {
  text-align: center;
  padding: 5%;
  padding-top:1%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  font-family: fantasy;
}

img {
  width: 100%;
  /* in order to make the height of the image kind of randomly, depending on the image dimentions */
  max-height: 100%;
}

.item {
  display: inline-block;
  width: 20%;
  min-width: 29%;
  margin-right: 1.5%;
  margin-left: 1.5%;
}

.items-container{
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
}

.filters-bar{
  list-style: none;
  display: flex;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 7%;
  margin-bottom: 2%;
  background-color: rgb(63 81 181 / 4%);
  justify-content: flex-start;
}

.filter{
  margin: 0 5px;
}

.filterList{
    position: absolute;
    width: 25%;
    padding: 1%;
    background: white;
    border: 1px solid rgb(0 0 0 / 26%);
    border-radius: 1%;
    z-index: 3;
}

.filterList > button {
  margin-right: 2%;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #f3e0e0;
}

.filter-options{
  display: flex;
  flex-wrap: wrap;
}

.main-btns{
  padding-top: 2%;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.apply{
  margin-left: 45%;
}

.cancel{
  margin-right: 45%;
}

.applied-filters{
  display: flex;
    padding-left: 8%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.applied-option-btn {
  width: 12%;
    height: fit-content;
  /* width: 8%; */
  text-align: center;
  border: 2px solid #d500f9;
  border-radius: 10%;
  padding-top: 0.4%;
  margin-left: 2%;
}

.applied-option-btn > button{
  border: 0px;
  background-color: white;
  content-visibility: auto;
  margin-left: 2%;
  border-radius: 50%;
}

.applied-option-btn > button:hover{
  background-color: #e47af7;
}

#clear{
  margin-left: 5%;
}

.logo > img {
  width: 10%;
  margin-right: 100%;
}
.navbar{
  display: flex;
  background-color: #8080801c;
  padding: 1.2rem;
}
.navbar ul{
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li{
  list-style: none;
}

.MuiButton-root{
  margin-right: 1%;
  margin-bottom: 1%;
}

.toggle-button{
  display: none;

}

.filter .title{
  border: 2px solid #e47af7;
    border-radius: 8%;
    padding: 0.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    font-size: x-large;
    color: blueviolet;
}

.filter .title.secondary{
  border: 2px solid #f50057;
}

.filter .title :not(:first-child){
  display: none;
}

#static-menu .filter .title :not(:first-child){
  display: none;
}

.filter-options button.MuiButton-root{
  margin-right: 1%;
  margin-bottom: 1%;
}

@media screen and (max-width: 600px) {
  .filterList{
    width: 70%;
  }

  .items-container{
    max-width: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .filter > a {
    width: 100%;
  }

  .item {
    min-width: 45%;
    min-height: 50%;
    width: 90%;
  }

  .applied-filters{
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 5%;
    align-items: center;
    /* margin-right: 8%; */
    background-color: rgb(0 0 0 / 15%);
  }  

  /* #static-menu button{
    width: 200px;
  }

  #static-menu button.cancel{
    width: 200px;
  } */

  .navbar-links {
    display: none;
  }
  .toggle-button{
    display: flex;
  }

  .navbar{
    flex-direction: column;
    align-items: flex-start;
  } 
  .navbar-links ul{
    flex-direction: column;
    width: 100%;
    }

  .navbar-links li div{
    padding: 0.5rem 1rem;
    border-bottom: 2px solid #e47af7;
  }

  .filter .title{
    /* padding-left: 0px;   */
    display: flex;
    justify-content: space-between;
  }

  .filter .title.secondary{
    /* border: 0px;   */
    padding-right: unset;
  }

  .filter .title:not(.secondary){
    padding-right: 0px;
  }

  .filter .title :not(:first-child){
    display: block;
  }

  #static-menu li{
    margin-right: 7%;
  }

  #static-menu{
    margin-right: 15%;
  }

  .navbar-links.active {
    display: flex;
    width: -webkit-fill-available;
  }

  #bar{
    display: flex;
  }

  .apply{
    margin-left: 0%;
  }

  .navbar-links.active .filterList{
    position: unset;
    border: 0px;
    background-color: unset;
  }

  .navbar-links.active .filterList .arrow-up{
    display: none;
  }

  .navbar-links.active li div {
    border-bottom: 0px;
    padding: 0rem 0.4rem;
}

.toggle-button .MuiButton-root{
  width: max-content;
  height: 95%
}

#myTopnav .title{
  border: 0px;
}

.applied-filters{
  /* flex-direction: column; */
}

#clear{
  padding-left: 1%;
  padding-right: 1%;
}
}